* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke;
}

a {
  color: black;
  text-decoration: none;
}

/*--------------------header------------------------------ */

.header {
  background-color: #122;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header a {
  text-decoration: none;
  color: white;
  transition: all 0.2s;
}

.header a:hover {
  color: #f40;
}

header {
  min-height: 80px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo h4 {
  font-size: 25px;
  font-weight: 600;
  padding: 5px 15px;
  flex: 1;
  letter-spacing: 1.5px;
  transition: all 0.2s;
  cursor: pointer;
}

.logo h4:hover {
  color: #f40;
}

header ul li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
}
header ul li:hover {
  color: #f40;
}
.menu {
  display: none;
}
header ul {
  padding-top: 15px;
}

@media (max-width: 820px) {
  header .logo {
    min-width: 115px;
    flex: none;
  }
  header ul {
    padding: 10px 0;
  }
}
@media (max-width: 720px) {
  header ul {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #122;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0.98;
    z-index: 99;
    transition: 0.5s ease-in;
  }
  header .menu {
    display: block;
    cursor: pointer;
    font-size: 25px;
    font-weight: 800;
  }
  .cross {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 25px;
    font-weight: 800;
  }
  header {
    justify-content: space-between;
  }
}

/*---------------------------footer-----------------------*/
footer {
  width: 100% !important;
}

footer .first {
  background-color: #122;
}

footer .second {
  background-color: #112;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: #f40;
}
footer .icon {
  cursor: pointer;
}

/*---------------------------login------------------------*/

.login {
  max-width: 450px;
}
.login i {
  color: #f40;
}
.form-control:focus {
  box-shadow: none;
  border: 2px solid #f40;
}
.login button {
  background-color: #f40;
  color: white;
  font-weight: 500;
}
.login button:focus {
  box-shadow: none;
}

/*-------------------------category-------------------------*/

.custom_button {
  background-color: #f40;
  color: white;
  font-weight: 500;
}
.custom_button:focus {
  box-shadow: none;
}
.action i {
  cursor: pointer;
}
.action .edit_action {
  transition: all 0.2s;
}

.action .edit_action:hover {
  color: #f40;
}
table thead {
  background-color: #112;
  color: white;
}
.title {
  padding-bottom: 10px;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.title::before {
  content: "";
  width: 100%;
  border-bottom: 4px solid #e6e6e6;
  position: absolute;
  left: 0;
  bottom: 0;
}
.title::after {
  content: "";
  width: 40%;
  position: absolute;
  border-bottom: 4px solid #f40;
  left: 0;
  bottom: 0;
}

/*-------------------------create post---------------------------*/

.upload {
  max-width: 100%;
  height: 400px;
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  position: relative;
}
#file_up {
  position: relative;
  width: 100%;
  height: 100%;
  outline: none;
}
#file_up::before {
  content: "+";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #eee;
  color: #f40;
  font-size: 15rem;
  cursor: pointer;
  text-align: center;
  margin: auto;
}
#file_img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
}
#file_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
#file_img span {
  position: absolute;
  top: -13px;
  right: -13px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 800;
  color: crimson;
}
.form-select:focus {
  box-shadow: none !important;
  border: 2px solid #f40 !important;
}

/*---------------------------------home----------------------------------*/

.blog_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hide-text {
  height: 50px;
  overflow: hidden;
}
.blog_card_img {
  position: relative;
}
.blog_card_category {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #f40;
  color: white;
  padding: 5px 10px !important;
  text-transform: capitalize;
  font-size: 13px !important;
}
.blog_card a {
  transition: all 0.2s;
}
.blog_card a:hover {
  color: #f40;
}

pre {
  background-color: #444;
  padding: 20px;
  color: white;
  border-radius: 5px;
}

.info {
  flex-basis: 25%;
  position: sticky;
  top: 100px;
  align-self: flex-start;
}
